{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{#zone "topCss"}}
    <!-- Jquery CSS -->
    {{~css "lib/jquery-ui_1.11.4/jquery-ui.min.css"}}
    <!-- Bootstrap CSS -->
    {{~css "lib/bootstrap_3.3.5/css/bootstrap.min.css" combine=false}}
    <!-- Font Awesome CSS -->
    {{~css "lib/font-awesome_4.3.0/css/font-awesome.min.css" combine=false}}
    <!-- Font WSO2 CSS -->
    {{~css "lib/font-entgra-1.4.0/css/font-entgra.css" combine=false}}
    <!-- Theme LESS -->
    {{~css "less/theme.less" combine=false}}
    {{~css "css/theme-wso2.css" combine=false}}
{{/zone}}

{{~#zone "topJs"}}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{@unit.publicUri}}/lib/html5shiv_3.7.2/html5shiv.min.js"></script>
    <script src="{{@unit.publicUri}}/lib/respond_1.4.2/respond.min.js"></script>
    <![endif]-->
{{/zone}}

{{~#zone "bottomJs"}}
    <!-- Jquery/Jquery UI JS -->
    {{~js "lib/jquery_1.11.0/jquery-1.11.3.min.js" combine=false}}
    {{~js "lib/jquery-ui_1.11.4/jquery-ui.min.js"}}
    <!-- Bootstrap JS -->
    {{~js "lib/bootstrap_3.3.5/js/bootstrap.min.js"}}
    <!-- Noty JS -->
    {{~js "lib/noty_2.3.5/packaged/jquery.noty.packaged.min.js"}}
    <!-- Theme WSO2 JS -->
    {{~js "lib/theme-wso2_1.0/js/theme-wso2.js"}}
{{/zone}}