/*
 * Copyright (c) 2020, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

%icon-base {
  &:before {
    font-family: "font-wso2";
    -webkit-font-smoothing: antialiased;
  }
  b {
    // hide text
    height: 0;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

@mixin font-wso2($icon) {
  @extend %icon-base;


        @if ($icon == "abort") {
            content:"\e72a";
        }

        @else if ($icon == "action-invoke") {
            content:"\e6fe";
        }

        @else if ($icon == "action") {
            content:"\e709";
        }

        @else if ($icon == "activate") {
            content:"\e6cf";
        }

        @else if ($icon == "add") {
            content:"\e615";
        }

        @else if ($icon == "airplay") {
            content:"\e600";
        }

        @else if ($icon == "alarm") {
            content:"\e6c2";
        }

        @else if ($icon == "alert") {
            content:"\e6be";
        }

        @else if ($icon == "analytics-extensions") {
            content:"\e6e2";
        }

        @else if ($icon == "android-logcat") {
            content:"\e72c";
        }

        @else if ($icon == "android-sense") {
            content:"\e72d";
        }

        @else if ($icon == "android") {
            content:"\e606";
        }

        @else if ($icon == "annotation") {
            content:"\e6e6";
        }

        @else if ($icon == "api") {
            content:"\e601";
        }

        @else if ($icon == "apn") {
            content:"\e602";
        }

        @else if ($icon == "apple") {
            content:"\e604";
        }

        @else if ($icon == "application") {
            content:"\e608";
        }

        @else if ($icon == "arduino") {
            content:"\e6ab";
        }

        @else if ($icon == "assign") {
            content:"\e6ff";
        }

        @else if ($icon == "ballerina-service") {
            content:"\e729";
        }

        @else if ($icon == "ballerina") {
            content:"\e728";
        }

        @else if ($icon == "bar-chart") {
            content:"\e690";
        }

        @else if ($icon == "battery") {
            content:"\e60a";
        }

        @else if ($icon == "blank-document") {
            content:"\e60c";
        }

        @else if ($icon == "block") {
            content:"\e695";
        }

        @else if ($icon == "bookmark") {
            content:"\e60d";
        }

        @else if ($icon == "bpel") {
            content:"\e60e";
        }

        @else if ($icon == "bpmn") {
            content:"\e60f";
        }

        @else if ($icon == "break") {
            content:"\e721";
        }

        @else if ($icon == "bug") {
            content:"\e611";
        }

        @else if ($icon == "build") {
            content:"\e6c1";
        }

        @else if ($icon == "calendar") {
            content:"\e612";
        }

        @else if ($icon == "camera") {
            content:"\e613";
        }

        @else if ($icon == "cancel") {
            content:"\e618";
        }

        @else if ($icon == "carbon") {
            content:"\e6c5";
        }

        @else if ($icon == "chat") {
            content:"\e65b";
        }

        @else if ($icon == "check") {
            content:"\e617";
        }

        @else if ($icon == "checklist") {
            content:"\e619";
        }

        @else if ($icon == "circle-outline") {
            content:"\e61f";
        }

        @else if ($icon == "circle") {
            content:"\e61a";
        }

        @else if ($icon == "clear") {
            content:"\e61b";
        }

        @else if ($icon == "clock") {
            content:"\e61d";
        }

        @else if ($icon == "cloud") {
            content:"\e61e";
        }

        @else if ($icon == "code-view") {
            content:"\e70e";
        }

        @else if ($icon == "code") {
            content:"\e6f1";
        }

        @else if ($icon == "comment") {
            content:"\e710";
        }

        @else if ($icon == "compare") {
            content:"\e610";
        }

        @else if ($icon == "computer") {
            content:"\e653";
        }

        @else if ($icon == "configarations") {
            content:"\e609";
        }

        @else if ($icon == "connector") {
            content:"\e700";
        }

        @else if ($icon == "console") {
            content:"\e71d";
        }

        @else if ($icon == "constant") {
            content:"\e701";
        }

        @else if ($icon == "contact") {
            content:"\e620";
        }

        @else if ($icon == "contract") {
            content:"\e614";
        }

        @else if ($icon == "copy") {
            content:"\e621";
        }

        @else if ($icon == "cut") {
            content:"\e6f2";
        }

        @else if ($icon == "dashboard") {
            content:"\e622";
        }

        @else if ($icon == "database") {
            content:"\e623";
        }

        @else if ($icon == "delete") {
            content:"\e624";
        }

        @else if ($icon == "depend") {
            content:"\e6c6";
        }

        @else if ($icon == "deploy") {
            content:"\e625";
        }

        @else if ($icon == "deprecate") {
            content:"\e6cb";
        }

        @else if ($icon == "design-view") {
            content:"\e70f";
        }

        @else if ($icon == "devices") {
            content:"\e704";
        }

        @else if ($icon == "dgm-action-invoke") {
            content:"\e712";
        }

        @else if ($icon == "dgm-action") {
            content:"\e711";
        }

        @else if ($icon == "dgm-connector") {
            content:"\e6f4";
        }

        @else if ($icon == "dgm-constant-definition") {
            content:"\e6f5";
        }

        @else if ($icon == "dgm-fork") {
            content:"\e6e7";
        }

        @else if ($icon == "dgm-header") {
            content:"\e6e8";
        }

        @else if ($icon == "dgm-if-else") {
            content:"\e6e9";
        }

        @else if ($icon == "dgm-import") {
            content:"\e717";
        }

        @else if ($icon == "dgm-lifeline") {
            content:"\e6ea";
        }

        @else if ($icon == "dgm-logger") {
            content:"\e6eb";
        }

        @else if ($icon == "dgm-resource") {
            content:"\e6f6";
        }

        @else if ($icon == "dgm-service") {
            content:"\e6f7";
        }

        @else if ($icon == "dgm-try-catch") {
            content:"\e6ec";
        }

        @else if ($icon == "dgm-type-convertor") {
            content:"\e6f8";
        }

        @else if ($icon == "dgm-type") {
            content:"\e6f9";
        }

        @else if ($icon == "dgm-while") {
            content:"\e707";
        }

        @else if ($icon == "dial-up") {
            content:"\e627";
        }

        @else if ($icon == "disabled") {
            content:"\e6d1";
        }

        @else if ($icon == "display") {
            content:"\e626";
        }

        @else if ($icon == "docker") {
            content:"\e70c";
        }

        @else if ($icon == "document") {
            content:"\e628";
        }

        @else if ($icon == "down-arrow") {
            content:"\e689";
        }

        @else if ($icon == "down") {
            content:"\e685";
        }

        @else if ($icon == "download") {
            content:"\e65f";
        }

        @else if ($icon == "dss") {
            content:"\e62a";
        }

        @else if ($icon == "ebook") {
            content:"\e62b";
        }

        @else if ($icon == "edit") {
            content:"\e62c";
        }

        @else if ($icon == "ellipsis") {
            content:"\e629";
        }

        @else if ($icon == "endpoint") {
            content:"\e62d";
        }

        @else if ($icon == "enterprise") {
            content:"\e6b6";
        }

        @else if ($icon == "error") {
            content:"\e630";
        }

        @else if ($icon == "esb-connector") {
            content:"\e6e3";
        }

        @else if ($icon == "expand") {
            content:"\e61c";
        }

        @else if ($icon == "export") {
            content:"\e631";
        }

        @else if ($icon == "extensions") {
            content:"\e6e4";
        }

        @else if ($icon == "facebook") {
            content:"\e6d3";
        }

        @else if ($icon == "factory-reset") {
            content:"\e632";
        }

        @else if ($icon == "fan") {
            content:"\e678";
        }

        @else if ($icon == "faq") {
            content:"\e62f";
        }

        @else if ($icon == "file-browse") {
            content:"\e633";
        }

        @else if ($icon == "filter") {
            content:"\e634";
        }

        @else if ($icon == "folder-open") {
            content:"\e70b";
        }

        @else if ($icon == "folder") {
            content:"\e62e";
        }

        @else if ($icon == "fork-join") {
            content:"\e720";
        }

        @else if ($icon == "format") {
            content:"\e6fa";
        }

        @else if ($icon == "forum") {
            content:"\e636";
        }

        @else if ($icon == "function-invoke") {
            content:"\e713";
        }

        @else if ($icon == "function") {
            content:"\e6fb";
        }

        @else if ($icon == "gadget") {
            content:"\e637";
        }

        @else if ($icon == "geo-fence-inbound") {
            content:"\e72e";
        }

        @else if ($icon == "geo-fence-outbound") {
            content:"\e72f";
        }

        @else if ($icon == "github") {
            content:"\e6d4";
        }

        @else if ($icon == "globe") {
            content:"\e697";
        }

        @else if ($icon == "google-docs") {
            content:"\e6d6";
        }

        @else if ($icon == "google-drive") {
            content:"\e6da";
        }

        @else if ($icon == "google-plus") {
            content:"\e6d9";
        }

        @else if ($icon == "google-sheets") {
            content:"\e6d7";
        }

        @else if ($icon == "google-slides") {
            content:"\e6d8";
        }

        @else if ($icon == "google") {
            content:"\e6d5";
        }

        @else if ($icon == "grid") {
            content:"\e638";
        }

        @else if ($icon == "grip") {
            content:"\e6b7";
        }

        @else if ($icon == "group") {
            content:"\e6af";
        }

        @else if ($icon == "hardware") {
            content:"\e6a9";
        }

        @else if ($icon == "hdd") {
            content:"\e639";
        }

        @else if ($icon == "heart") {
            content:"\e6c3";
        }

        @else if ($icon == "hide") {
            content:"\e6d2";
        }

        @else if ($icon == "home") {
            content:"\e63a";
        }

        @else if ($icon == "hour-glass") {
            content:"\e63b";
        }

        @else if ($icon == "html") {
            content:"\e69d";
        }

        @else if ($icon == "http") {
            content:"\e705";
        }

        @else if ($icon == "image") {
            content:"\e70a";
        }

        @else if ($icon == "import") {
            content:"\e63c";
        }

        @else if ($icon == "incoming-call") {
            content:"\e63d";
        }

        @else if ($icon == "info") {
            content:"\e63e";
        }

        @else if ($icon == "instagram") {
            content:"\e6db";
        }

        @else if ($icon == "invitation") {
            content:"\e63f";
        }

        @else if ($icon == "invoke") {
            content:"\e6ed";
        }

        @else if ($icon == "is-connector") {
            content:"\e6e5";
        }

        @else if ($icon == "iterate") {
            content:"\e71f";
        }

        @else if ($icon == "jaggery") {
            content:"\e640";
        }

        @else if ($icon == "java-spring") {
            content:"\e644";
        }

        @else if ($icon == "java") {
            content:"\e641";
        }

        @else if ($icon == "javaee") {
            content:"\e642";
        }

        @else if ($icon == "javascript") {
            content:"\e643";
        }

        @else if ($icon == "jaxrs") {
            content:"\e645";
        }

        @else if ($icon == "jaxws") {
            content:"\e6c7";
        }

        @else if ($icon == "jquery") {
            content:"\e646";
        }

        @else if ($icon == "key") {
            content:"\e647";
        }

        @else if ($icon == "laptop") {
            content:"\e648";
        }

        @else if ($icon == "layout") {
            content:"\e6bf";
        }

        @else if ($icon == "ldap") {
            content:"\e649";
        }

        @else if ($icon == "left-arrow") {
            content:"\e68a";
        }

        @else if ($icon == "left") {
            content:"\e686";
        }

        @else if ($icon == "lifecycle") {
            content:"\e64a";
        }

        @else if ($icon == "light") {
            content:"\e680";
        }

        @else if ($icon == "linkedin") {
            content:"\e6dc";
        }

        @else if ($icon == "list-sort") {
            content:"\e64d";
        }

        @else if ($icon == "list") {
            content:"\e64c";
        }

        @else if ($icon == "loader") {
            content:"\e6b4";
        }

        @else if ($icon == "loader2") {
            content:"\e6ba";
        }

        @else if ($icon == "loader3") {
            content:"\e6bb";
        }

        @else if ($icon == "loader4") {
            content:"\e6bc";
        }

        @else if ($icon == "loader5") {
            content:"\e6bd";
        }

        @else if ($icon == "lock") {
            content:"\e64e";
        }

        @else if ($icon == "logical") {
            content:"\e702";
        }

        @else if ($icon == "mail") {
            content:"\e64f";
        }

        @else if ($icon == "main-function") {
            content:"\e706";
        }

        @else if ($icon == "map-location") {
            content:"\e650";
        }

        @else if ($icon == "menu") {
            content:"\e651";
        }

        @else if ($icon == "message") {
            content:"\e635";
        }

        @else if ($icon == "micro-services") {
            content:"\e6ce";
        }

        @else if ($icon == "minus") {
            content:"\e616";
        }

        @else if ($icon == "mobile") {
            content:"\e652";
        }

        @else if ($icon == "ms-document") {
            content:"\e654";
        }

        @else if ($icon == "mute") {
            content:"\e655";
        }

        @else if ($icon == "nodejs") {
            content:"\e656";
        }

        @else if ($icon == "notification") {
            content:"\e60b";
        }

        @else if ($icon == "organization") {
            content:"\e6ac";
        }

        @else if ($icon == "own") {
            content:"\e6c8";
        }

        @else if ($icon == "package") {
            content:"\e6fd";
        }

        @else if ($icon == "pages") {
            content:"\e6c0";
        }

        @else if ($icon == "paste") {
            content:"\e658";
        }

        @else if ($icon == "pdf") {
            content:"\e659";
        }

        @else if ($icon == "pending") {
            content:"\e727";
        }

        @else if ($icon == "php") {
            content:"\e6c9";
        }

        @else if ($icon == "pie-chart") {
            content:"\e65a";
        }

        @else if ($icon == "pinterest") {
            content:"\e6dd";
        }

        @else if ($icon == "policy") {
            content:"\e67d";
        }

        @else if ($icon == "polygon") {
            content:"\e70d";
        }

        @else if ($icon == "prototype") {
            content:"\e6cc";
        }

        @else if ($icon == "proxy") {
            content:"\e699";
        }

        @else if ($icon == "public") {
            content:"\e6ad";
        }

        @else if ($icon == "publish") {
            content:"\e65c";
        }

        @else if ($icon == "question") {
            content:"\e6b0";
        }

        @else if ($icon == "raspberry") {
            content:"\e6aa";
        }

        @else if ($icon == "redo") {
            content:"\e65d";
        }

        @else if ($icon == "refresh") {
            content:"\e692";
        }

        @else if ($icon == "register") {
            content:"\e65e";
        }

        @else if ($icon == "rename") {
            content:"\e6fc";
        }

        @else if ($icon == "reply") {
            content:"\e714";
        }

        @else if ($icon == "resource") {
            content:"\e660";
        }

        @else if ($icon == "rest-api") {
            content:"\e661";
        }

        @else if ($icon == "rest-service") {
            content:"\e662";
        }

        @else if ($icon == "resume") {
            content:"\e71e";
        }

        @else if ($icon == "retire") {
            content:"\e6cd";
        }

        @else if ($icon == "return") {
            content:"\e715";
        }

        @else if ($icon == "retweet") {
            content:"\e6b9";
        }

        @else if ($icon == "right-arrow") {
            content:"\e68b";
        }

        @else if ($icon == "right") {
            content:"\e687";
        }

        @else if ($icon == "ringing") {
            content:"\e694";
        }

        @else if ($icon == "rules") {
            content:"\e664";
        }

        @else if ($icon == "run") {
            content:"\e708";
        }

        @else if ($icon == "save") {
            content:"\e665";
        }

        @else if ($icon == "scep") {
            content:"\e666";
        }

        @else if ($icon == "schema") {
            content:"\e667";
        }

        @else if ($icon == "search") {
            content:"\e668";
        }

        @else if ($icon == "security-policy") {
            content:"\e67e";
        }

        @else if ($icon == "security") {
            content:"\e669";
        }

        @else if ($icon == "send") {
            content:"\e66a";
        }

        @else if ($icon == "sequence") {
            content:"\e66b";
        }

        @else if ($icon == "server") {
            content:"\e66c";
        }

        @else if ($icon == "service-provider") {
            content:"\e66e";
        }

        @else if ($icon == "service") {
            content:"\e66d";
        }

        @else if ($icon == "settings") {
            content:"\e66f";
        }

        @else if ($icon == "share") {
            content:"\e670";
        }

        @else if ($icon == "shell") {
            content:"\e730";
        }

        @else if ($icon == "shortcut") {
            content:"\e725";
        }

        @else if ($icon == "sign-in") {
            content:"\e671";
        }

        @else if ($icon == "sign-out") {
            content:"\e6b8";
        }

        @else if ($icon == "skype") {
            content:"\e6de";
        }

        @else if ($icon == "slash") {
            content:"\e6e1";
        }

        @else if ($icon == "soap") {
            content:"\e672";
        }

        @else if ($icon == "sort-down") {
            content:"\e663";
        }

        @else if ($icon == "sort-up") {
            content:"\e64b";
        }

        @else if ($icon == "sort") {
            content:"\e673";
        }

        @else if ($icon == "speed-alert") {
            content:"\e731";
        }

        @else if ($icon == "square-outline") {
            content:"\e6b2";
        }

        @else if ($icon == "square") {
            content:"\e6b1";
        }

        @else if ($icon == "star") {
            content:"\e674";
        }

        @else if ($icon == "start") {
            content:"\e718";
        }

        @else if ($icon == "statistics") {
            content:"\e675";
        }

        @else if ($icon == "stepin") {
            content:"\e719";
        }

        @else if ($icon == "stepout") {
            content:"\e71a";
        }

        @else if ($icon == "stepover") {
            content:"\e71b";
        }

        @else if ($icon == "stop") {
            content:"\e71c";
        }

        @else if ($icon == "store") {
            content:"\e676";
        }

        @else if ($icon == "struct") {
            content:"\e716";
        }

        @else if ($icon == "subscribe") {
            content:"\e677";
        }

        @else if ($icon == "success") {
            content:"\e657";
        }

        @else if ($icon == "swagger") {
            content:"\e679";
        }

        @else if ($icon == "sync") {
            content:"\e6b3";
        }

        @else if ($icon == "table") {
            content:"\e6c4";
        }

        @else if ($icon == "tag") {
            content:"\e67a";
        }

        @else if ($icon == "task") {
            content:"\e67b";
        }

        @else if ($icon == "text") {
            content:"\e67c";
        }

        @else if ($icon == "theme") {
            content:"\e726";
        }

        @else if ($icon == "throttling-policy") {
            content:"\e67f";
        }

        @else if ($icon == "throw") {
            content:"\e722";
        }

        @else if ($icon == "tiles") {
            content:"\e681";
        }

        @else if ($icon == "transaction") {
            content:"\e72b";
        }

        @else if ($icon == "try-catch") {
            content:"\e703";
        }

        @else if ($icon == "twitter") {
            content:"\e6df";
        }

        @else if ($icon == "type-converter") {
            content:"\e6f3";
        }

        @else if ($icon == "uncheck") {
            content:"\e682";
        }

        @else if ($icon == "undo") {
            content:"\e683";
        }

        @else if ($icon == "ungroup") {
            content:"\e6b5";
        }

        @else if ($icon == "unmute") {
            content:"\e6ae";
        }

        @else if ($icon == "up-arrow") {
            content:"\e688";
        }

        @else if ($icon == "up") {
            content:"\e684";
        }

        @else if ($icon == "upload") {
            content:"\e68c";
        }

        @else if ($icon == "uri") {
            content:"\e68d";
        }

        @else if ($icon == "usb-drive") {
            content:"\e68e";
        }

        @else if ($icon == "use") {
            content:"\e6ca";
        }

        @else if ($icon == "user") {
            content:"\e68f";
        }

        @else if ($icon == "variable") {
            content:"\e6ee";
        }

        @else if ($icon == "view") {
            content:"\e691";
        }

        @else if ($icon == "vpn") {
            content:"\e603";
        }

        @else if ($icon == "wadl") {
            content:"\e6a1";
        }

        @else if ($icon == "war") {
            content:"\e69e";
        }

        @else if ($icon == "warning") {
            content:"\e693";
        }

        @else if ($icon == "web-app") {
            content:"\e696";
        }

        @else if ($icon == "web-clip") {
            content:"\e698";
        }

        @else if ($icon == "web-service") {
            content:"\e69a";
        }

        @else if ($icon == "website") {
            content:"\e69b";
        }

        @else if ($icon == "wifi") {
            content:"\e607";
        }

        @else if ($icon == "windows") {
            content:"\e605";
        }

        @else if ($icon == "worker-invoke") {
            content:"\e723";
        }

        @else if ($icon == "worker-reply") {
            content:"\e724";
        }

        @else if ($icon == "worker") {
            content:"\e6ef";
        }

        @else if ($icon == "wsdl") {
            content:"\e6a0";
        }

        @else if ($icon == "wso2-logo") {
            content:"\e6a7";
        }

        @else if ($icon == "wso2") {
            content:"\e6a8";
        }

        @else if ($icon == "xacml") {
            content:"\e69f";
        }

        @else if ($icon == "xml") {
            content:"\e69c";
        }

        @else if ($icon == "xq") {
            content:"\e6a2";
        }

        @else if ($icon == "xsd") {
            content:"\e6a3";
        }

        @else if ($icon == "xslt") {
            content:"\e6a4";
        }

        @else if ($icon == "youtube") {
            content:"\e6e0";
        }

        @else if ($icon == "zoom-in") {
            content:"\e6a5";
        }

        @else if ($icon == "zoom-out") {
            content:"\e6a6";
        }

}
